@use "../../../styles/mixins" as m;

.album {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  position: relative;

  &__heading {
    @include m.absolute-center();
    left: 52.5%;
    top: 55%;
    width: 100%;

    text-align: center;
    float: right;
    &--1 {
      width: 45%;
      line-height: 200px;
      @media screen and (max-width: 1440px) {
        line-height: 13vw;
      }
    }
    &--2 {
      display: block !important;
      width: 65%;
      margin: auto;
      line-height: 160px;
      @media screen and (max-width: 1440px) {
        line-height: 11vw;
      }
    }
    &__wrapper {
      position: fixed;
      width: 95vw;
      height: 100vh;
    }
  }
  &__content {
    display: flex;
    gap: 17.5rem;
    @media screen and (max-width: 768px) {
      gap: 13.5rem;
    }
    &__img {
      height: 100vh;
      width: 120%;
      &--2 {
        height: 75%;
        width: 120%;
      }
      &__wrapper {
        overflow: hidden;
        width: 700px;
        &--2 {
          width: 500px;
          height: 100vh;
          display: flex;
          align-items: center;
          overflow: hidden;
        }
      }
    }
    &__container {
      width: max-content;
      &--2 {
        margin-right: -5.5rem;
      }
    }
    &__people {
      @include m.absolute-center();
      display: flex;
      gap: 5rem;
      width: 57.5%;
      justify-content: space-between;
      &__heading {
        white-space: nowrap;
      }
      & > div {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        & > h4 {
          font-size: 2.5rem;
        }
      }
      &__wrapper {
        min-width: 100vw;
        height: 100vh;
        position: relative;
      }
    }
  }
}
