*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
  font-size: 62.5%;
}
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide the scrollbar for WebKit based browsers */
body::-webkit-scrollbar {
  display: none;
}

body {
  overscroll-behavior-y: none;
  user-select: none;
  background-color: whitesmoke;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}
