*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
  font-size: 62.5%;
}
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide the scrollbar for WebKit based browsers */
body::-webkit-scrollbar {
  display: none;
}
