@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
.heading-1 {
  font-family: "Anton", sans-serif;
  font-size: clamp(8rem, 7vw + 4rem, 30rem);
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  box-sizing: content-box;
  line-height: normal;
}
.heading-2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(8rem, 7vw + 8rem, 30rem);
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.subtitle {
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: 1.9px;
  text-transform: uppercase;
}
