.user,
.user__white {
  position: fixed;
  left: 1.4rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
  & > svg {
    width: 5.5rem;
    height: 5.5rem;
  }
  & > span {
    color: #000;
  }
  &__photo {
    width: 5.5rem;
    height: 5.5rem;
  }
}
.user__white {
  & > svg {
    fill: #fff;
  }
  & > span {
    color: #fff;
  }
}
