@use "../../styles/mixins" as m;

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 1.5rem;

  &__logo {
    width: 10.5rem;
    height: 6.7rem;
    cursor: pointer;
  }
  &__link {
    width: 10.5rem;
    height: 6.7rem;
    margin-bottom: -1rem;
  }
}

.app-sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 8.2rem;
  max-width: 50vw;
  display: flex;
  border-right: var(--color-gray-100) 1px solid;
  flex-direction: column;
  background: var(--color-gray-200);
  z-index: 2;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;

  &__bar-top {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    &__add-user {
      &__icon {
        min-width: 3rem;
        min-height: 3rem;
        cursor: pointer;
        transition: opacity 0.4s;
        fill: var(--color-gray-900);
        opacity: 0.4;
        &:hover {
          opacity: 1;
        }
      }
    }
    &__chat-find {
      position: relative;
      width: 100%;
      & > input {
        width: 100%;
        border: none;
        background-color: var(--color-gray-100);
        padding: 0.5rem;
        font-size: var(--font-default);
        border-radius: 0.4rem;
        &:focus {
          outline: none;
        }
      }
      & > label {
        &::before {
          content: "";
          width: 100%;
          height: 0.2rem;
          background-color: var(--color-gray-900);
          position: absolute;
          top: 100%;
          left: 0;
          transform: scaleX(0);
          transition: transform 0.4s;
          transform-origin: left;
        }
      }
      & > input:focus ~ label::before {
        transform: scaleX(1);
      }
    }
    &__btn-burger {
      min-width: 3rem;
      min-height: 3rem;
      position: relative;
      opacity: 0.4;
      transition: opacity 0.4s;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      & > span {
        @include m.absolute-center();
        display: block;
        width: 100%;
        height: 0.275rem;
        background-color: var(--color-gray-900);
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: -300%;
          background-color: inherit;
        }
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 300%;
          background-color: inherit;
        }
      }
    }
  }
  &__content {
    flex: 1;
    flex-grow: 0;
    flex-shrink: 0;

    &__current-user {
      position: absolute;
      top: 0;
      z-index: 300;
      background-color: var(--color-gray-400);
      padding: 1rem 1.5rem;
      border-top-left-radius: 1rem;
      user-select: text;
      border: 1px solid;
      &__img {
        width: 8rem;
        height: 8rem;
      }
    }
    &__add-user {
      border: 1px var(--color-gray-900) solid;

      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 1rem;
      background-color: var(--color-gray-400);
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      z-index: 300;
      &__buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        &__button {
          border: none;
          font-size: var(--font-default);
          padding: 0.3rem 0.5rem;
          transition: all 0.4s;
          cursor: pointer;
          @include m.box-shadow-1();
          &:hover {
            @include m.box-shadow-3();
            transform: translateY(-0.2rem) scale(1.05);
          }
        }
      }
      &__data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        &__img {
          width: 4rem;
          height: 4rem;
        }
      }
      & form {
        position: relative;
        width: max-content;
      }
      & input {
        font-size: var(--font-default);
        padding: 0.5rem;
        border-radius: 0.4rem;
        border: none;
        background-color: var(--color-gray-100);
        &:focus {
          outline: none;
        }
      }
      & label {
        &::before {
          content: "";
          width: 100%;
          height: 0.2rem;
          background-color: var(--color-gray-900);
          position: absolute;
          top: 100%;
          left: 0;
          transform: scaleX(0);
          transition: transform 0.4s;
          transform-origin: left;
        }
      }
      & input:focus ~ label::before {
        transform: scaleX(1);
      }
    }

    &__chats-list {
      list-style: none;
      border-top-left-radius: 1rem;
      &__chat {
        position: relative;

        &__link,
        &__link--active {
          color: #000;
          text-decoration: none;
          padding: 1rem 1.5rem;
          display: grid;
          grid-template-columns: min-content 1fr;
          align-items: center;
          column-gap: 1.5rem;
          row-gap: 0.5rem;
          cursor: pointer;
          transition: background-color 0.3s;
          &:hover {
            background-color: var(--color-gray-300);
          }
          &--active {
            background-color: var(--color-gray-400);
            &:hover {
              background-color: var(--color-gray-400);
            }
          }
        }
        &__img {
          grid-row: 1/3;
          width: 5rem;
          height: 5rem;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
        }
        &__name,
        &__last-msg {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &__time {
            position: absolute;
            top: 0rem;
            right: 0.475rem;
          }
        }
      }
    }
  }
  &__resizer {
    // flex-grow: 0;
    // flex-shrink: 0;
    // flex-basis: 5px;
    // justify-self: flex-end;
    resize: horizontal;
    cursor: col-resize;
    position: absolute;
    height: 100%;
    width: 1rem;
    right: 0;

    // &:hover {
    //   width: 3px;
    //   background: var(--color-gray-200);
    // }
  }
}

.app-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
  height: 100vh;
  max-height: 100%;
  box-shadow: 8px 2px 32px -2px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 0px;
  z-index: 1;
}

.select-chat {
  padding: 0.4rem 1rem;
  background-color: var(--color-gray-300);
  &__wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-200);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
