.nav {
  position: fixed;
  right: 1.4rem;
  top: 1rem;
  font-size: var(--font-default);
  display: flex;
  z-index: 100;
  align-items: center;
  gap: 0.7rem;
  &__nav-circle {
    cursor: pointer;
    height: 25px;
  }
  &__nav-main {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    gap: 1.5rem;
    & > ul {
      list-style: none;
      display: flex;
      gap: 1.8rem;
      &:first-of-type {
        margin-right: -0.25rem;
      }
      &:last-of-type {
        grid-row: 2/3;
        grid-column: 2/3;
        justify-self: center;
        writing-mode: tb-rl;
      }
    }
  }

  &__link,
  &__link__white {
    &:link,
    &:visited {
      color: black;
      text-decoration: none;
    }
  }
  &__link__white {
    &:link,
    &:visited {
      color: #fff;
    }
  }
  &__li {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
}
